{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dashboard</title>
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/navbar-fixed-top.css' %}" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'landing' %}">User Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'admin-dash' %}">Dashboard</a></li>
            <li><a href="{% url 'home-profile' %}">Profile</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'logoff' %}">Log off</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class='container'>
  <h1>{{ user.first_name }} {{ user.last_name }}</h1>
  <div class="row">
    <div class='col-md-2'>
      <p>Registered at:</p>
      <p>User ID:</p>
      <p>Email Address:</p>
      <p>Description:</p>
    </div>
    <div class='col-md-3'>
      <p>{{ user.created_at }}</p>
      <p>{{ user.id }}</p>
      <p>{{ user.email }}</p>
      <p>{{ user.description }}</p>
    </div>
  {% if user.id == request.session.id %}
    <a class='btn btn-primary' href="{% url 'edit-profile' %}">Edit Info</a>
  </div>
  <div class="row">
  {% else %}
  </div>
  <div class="row">
    <div class="col-md-12">
      <form action="{% url 'message-user' user.id %}" method='POST'>
        {% csrf_token %}
        <input type="hidden" name='poster_id' value="{{ request.session.id }}">
        <div class="form-group">
          <label for='leave-message'>Leave a message for {{ user.first_name }}:</label>
          <textarea type="text" name="content" id='leave-message' class='form-control'></textarea>
        </div>
        <button type="submit" class="btn btn-success">Post</button>
      </form>
    </div>
  {% endif %}
  {% if messages %}
    {% for message in messages %}
      <div class="col-mid-12">
        <p class="pull-right">{{ message.created_at }}</p>
        <p class="author"><a href="{% url 'user-profile' message.author.id %}">{{ message.author.first_name }} {{ message.author.last_name }}</a> wrote</p>
        <div class='message well'>
          {% if message.author.id == request.session.id or request.session.user_level == 9 %}
            <span class="glyphicon glyphicon-remove-circle pull-right" aria-hidden="true"></span>
            <span class="sr-only">Delete Message</span>
          {% endif %}
          <p>{{ message.content }}</p>
        </div>
      </div>
      {% if comments %}
        {% for comment in comments %}
          {% if comment.message.id == message.id %}
            <div class="col-md-10 col-md-offset-2">
              <p class="pull-right">{{ comment.created_at }}</p>
              <p class="author"><a href="{% url 'user-profile' comment.author.id %}">{{ comment.author.first_name }} {{ comment.author.last_name }}</a> wrote</p>
              <div class='comment well'>
                {% if comment.author.id == request.session.id or message.author.id == request.session.id or request.session.user_level == 9 %}
                  <span class="glyphicon glyphicon-remove-circle pull-right" aria-hidden="true"></span>
                  <span class="sr-only">Delete Comment</span>
                {% endif %}
                <p>{{ comment.content }}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      <div class="col-md-10 col-md-offset-2">
        <form action="{% url 'comment' message.id user.id %}" method='POST'>
          {% csrf_token %}
          <input type="hidden" name='poster_id' value="{{ request.session.id }}">
          <div class="form-group">
            <label for='comment-message-{{ message.id }}'>Leave a comment</label>
            <textarea type="text" name="content" id='comment-message-{{ message.id }}' class='form-control'></textarea>
          </div>
          <button type="submit" class="btn btn-success">Post</button>
        </form>
      </div>
    </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
</body>
</html>
