{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Login and Registration</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
<div id='wrapper'>
    <h1>Registration</h1>
    <form action="{% url 'register' %}" method='post'>
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                {% if message.extra_tags == 'first_name' %}
                    <p>{{message}}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <p>First Name:</p><input type="text" name="first_name">
        {% if messages %}
            {% for message in messages %}
                {% if message.extra_tags == 'last_name' %}
                    <p>{{message}}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <p>Last Name:</p><input type="text" name="last_name">
        {% if messages %}
            {% for message in messages %}
                {% if message.extra_tags == 'email' %}
                    <p>{{message}}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <p>Email:</p><input type="text" name='email'>
        {% if messages %}
            {% for message in messages %}
                {% if message.extra_tags == 'password' %}
                    <p>{{message}}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <p>Password:</p><input type="password" name="password">
        <p>Confirm password:</p><input type="password" name="password_confirm">
        <input type="submit" value="Register">
    </form>
    <h1>Login</h1>
    <div class="inline">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    {% if message.extra_tags == 'login-email' %}
                        <p>{{message}}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <p>Email:</p><input type="text" name="email">
            {% if messages %}
                {% for message in messages %}
                    {% if message.extra_tags == 'login-password' %}
                        <p>{{message}}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <p>Password:</p><input type="password" name="password">
            <input type="submit" value="Login">
        </form>
    </div>
</div>
</body>
</html>
