{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login</title>
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/navbar-fixed-top.css' %}" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Test App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Sign in</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="container-fluid">
    <div class='row'>
        <div class='col-md-6'>
            <h1>Login</h1>
            <form action="{% url 'login-user' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for='email_input'>Email:</label>
                    <input type="email" name="email" id='email_input' class='form-control'>
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.extra_tags == 'login-email' %}
                                <span class='help-block'>{{message}}</span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for='pw_input'>Password:</label>
                    <input type="password" name="password" id='pw_input' class='form-control'>
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.extra_tags == 'login-password' %}
                                <span class='help-block'>{{message}}</span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-default">Log in</button>
            </form>
            <p>No account? <a href="{% url 'register' %}">Register here</a></p>
        </div>
    </div>
</div>
</body>
</html>
